.wrapper{
    padding: 100px 0;
}
.wrapper .item:nth-child(1) .itemImg{
    display: block;
    margin-bottom: 100px;
    width: 50%;
    height: 879.641px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 25%);
    border-radius: 0 10px 10px 0;
}

.wrapper .item:nth-child(2) .itemImg{
    order: 2;
    display: block;
    width: 50%;
    height: 879.641px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 25%);
    border-radius: 10px 0 0 10px;
}
.wrapper .item .itemText{
    position: relative;
    width: 50%;
    padding: 300px 45px 200px 140px;
    vertical-align: middle;

}
.wrapper .item .itemText .content{
    max-width: 400px;
}
.wrapper .item .itemText span{
    z-index: 1;
    position: absolute;
    font-size: 300px;
    font-family: var(--fontM);
    top: 200px;
    line-height: 0.5;
    height: 100%;
    color: #f0f0f0;
}
.wrapper .item .itemText h1{
    position: relative;
    z-index: 2;
    font-family: var(--fontM);
    font-style: italic;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 40px;
}
.wrapper .item .itemText p{
    font-size: 1rem;
    color: #646464;
    font-family: var(--fontT);
    font-weight: 570;
    margin-bottom: 50px;
    line-height: 1.7;
}
.wrapper .item .itemText a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--font);
    font-weight: 700;
    letter-spacing: 3px;
}
@media screen and (max-width:768px) {
    .wrapper{
        padding: 0;
    }
    .item{
        flex-wrap: wrap;
    }
    .itemImg{
        width: 100% !important;
        height: 200px !important;
    }
    .itemText{
        text-align: center ;
        padding: 10px ;
        margin: 0 auto;
        padding: 70px 0 !important;
        width: unset !important;
    }
    .wrapper .item .itemText span{
        position: static;
    }
}