.header {
    background-color: rgba(255, 255, 255, 0.0) ;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0 70px;
    color: white;
    z-index: 99;
    font-family: var(--fontT);
    font-weight: bold;

}

.logo {
    padding: 16px !important;
    height: 100%;
}

ul li {
    padding: 16px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
ul li a:hover{
    color:orange;
    transition: all 1 ease;
}
.navM{
    display: none;
}
.menuBtn{
    position: absolute;
    z-index: 2;
    right: 70px;
    top:40px;
    height: 50px;
    width: 50px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.menuBtn span,.menuBtn:before,.menuBtn:after{
    content: "";
    position: absolute;
    top: calc(50%-1px);
    width: 40%;
    border-bottom: 2px solid white;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menuBtn:before{
    transform: translateY(-8px);
}
.menuBtn:after{
    transform: translateY(8px);
}
input[type=checkbox]:checked ~ .menu{
    right: 0% !important;
}
input[type=checkbox]:checked + .menuBtn span{
    transform: scale(0);
}
input[type=checkbox]:checked + .menuBtn:before{
    transform: rotate(45deg);
    border-color: white;
}
input[type=checkbox]:checked + .menuBtn:after {
	transform: rotate(-45deg);
  border-color: white;
}
.menu {
    position: fixed;
    top: 0;
    right: -120% ;
    height:100vh;
    width: 100%;
    background-color: #000;
    transition: all 0.6s ease-in-out;
    text-align: center;
    font-family: var(--fontT);
    font-weight: 900;
    letter-spacing: 3px;
}
.menu ul{
    padding: 100px 0;
    text-align: center;
    height: auto;
}
.menu ul li{
    height: 10%;
}
input[type="checkbox"]{
    display: none;
}


@media screen and (max-width:768px){
    .navM{
        display: block !important;
    }
    .nav{
        display: none !important;
    }
    .logo{
        padding: 16px 0 !important;
    }
}
@media screen and (max-width:425px){
    .header{
        padding: 10px;
    }
    .menuBtn{
        right: 30px;
        top: 50px;
    }
}


